/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// Variables
$red-hot: #C0392B;
$button-primary: $red-hot;
$dark-blue: #2C3E50;

$gray: hsla(203,18%,36%,1);
$grey: hsla(203,18%,36%,1);
$dark-grey: hsla(203,18%,25%,1);
$dark-gray: hsla(203,18%,25%,1);

// Typography
body {
  color: $grey; 
}


// Mixins
@mixin box {
    max-width: 100%;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.15);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.15);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btn-redhot {
    background-color: $red-hot;
      &:hover, &:focus, {
        background-color: $red-hot;
    }
}

// Global
img.img-thumbnail {
    margin-bottom: 1%;
}

// Sign in page
body.sign-in {

    form.login { 
        background: none; 
        padding: 0; 
        color: inherit;
    }
}

body.members {
    h2 {
        margin-bottom: 2%;
        padding-left: 15px;
    }

    .list-bio {
        font-size: 22px;
    }

    div.row.form-row {
        padding: 20px 0;
        border-bottom: 2px solid #eee;
        margin-bottom: 20px;
    }

    .form-group {
        width: 100%;
        max-width: 100%;
    }

}

ul.socialaccount_providers li {
    list-style: none;
}

.navbar-brand {
    font-size: 34px;
}


// Member detail page (including update / edit)

body.member-detail {
    .profile-basics-box {

        @include box;
        img {
            min-width: 95%;
        }

        ul.user-attributes {
            list-style: none;
            padding-left: 0;

            li {
                padding-bottom: 10px;
            }
        }
    }

    .profile-content-box {
        @include box;
        padding: 10px 15px;

        h2 {
          display: inline-block;
        }

        .contact-me {
            margin-top: 22px;
        }
    }

    .content-wrapper {
        margin-top: 30px;
    }
}
