/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// Variables
$red-hot: #C0392B;
$button-primary: $red-hot;
$gray: rgb(189, 195, 199);
$dark-blue: #2C3E50;

.btn-redhot {
    background-color: $red-hot;
      &:hover, &:focus, {
        background-color: $red-hot;
    }
}

// Global
img.img-thumbnail {
    margin-bottom: 1%;
}

// Sign in page
body.sign-in {

    form.login { 
        background: none; 
        padding: 0; 
        color: inherit;
    }
}

body.members {
    h2 {
        margin-bottom: 2%;
        padding-left: 15px;
    }

    .list-bio {
        font-size: 22px;
    }

    div.row.form-row {
        padding: 20px 0;
        border-bottom: 2px solid #eee;
        margin-bottom: 20px;
    }

    .form-group {
        width: 100%;
        max-width: 100%;
    }

}

ul.socialaccount_providers li {
    list-style: none;
}

.navbar-brand {
    font-size: 34px;
}
