{% extends "base.html" %}
{% load url from future %}
{% load i18n static %}{% load postman_tags %}
{% block title %}{% trans "Messaging" %}{% endblock %}
{% block extra_css %}{{ block.super }}
<link type="text/css" media="all" rel="stylesheet" href="{% static 'postman/css/postman.css' %}" />
{% endblock extra_css %}

{% block subnav %}
{% include 'users/_dashboard_menu.html' %}
{% endblock subnav %}

{% block leftnav %}
{% include 'postman/_postman_menu.html' %}
{% endblock %}

{% block content %}
{% endblock %}

