{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ project_name }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Django Dash 2013 project exploring ways to connect mentors and mentees learning to code.
">
    <meta name="author" content="Nate Aune, Brian Dant, Chris Van Schyndel">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Latest compiled and minified CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="{% static 'select2/css/select2.css' %}" rel="stylesheet"/>

{#    <!-- Optional theme -->#}
{#    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">#}

    <!-- Loading Flat UI -->
    <link href="{% static 'css/flat-ui.css' %}" rel="stylesheet">
    <!-- Your stuff: Third-party css libraries go here -->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    <!-- Fonts -->
{#    <link href='http://fonts.googleapis.com/css?family=Bowlby+One+SC' rel='stylesheet' type='text/css'>#}
{#    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>#}

    {% endblock %}

{#    {% block angular %}#}
{#      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>#}
{#    {% endblock %}#}

  </head>

  <body class={% block body_class %}{% endblock %}>

    <div class="header navbar">
      <div class="container">
        <a class="navbar-brand" href="/">Mentor Up</a>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>

          {% if request.user.is_authenticated %}
            <li><a href="{% url 'users:detail' request.user.username  %}"><i class="icon-user"></i>&nbsp;{% trans "My Profile" %}</a></li>
            <li><a href="{% url 'account_logout' %}"><i class="icon-off"></i>&nbsp;{% trans "Logout" %}</a></li>
          {% else %}
            <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
            <li><a href="{% url 'account_login' %}"><i class="icon-lock">&nbsp</i>&nbsp;{% trans "Log In" %}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="container">

      {% block content %}
        <p>Testing the search bar here.</p>

        <br />

        <p>
        <div class="select2-container select2-container-multi populate" id="bagel">
          <ul class="select2-choices">
            <li class="select2-search-field">
              <input type="hidden" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input select2-focused" tabindex="0">
            </li>
          </ul>
        <div>
        </p>
      {% endblock content %}

    </div> <!-- /container -->
    
    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Latest JQuery -->
{#      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>#}
      <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- Load JS here for greater good =============================-->
      <script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
      <script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/bootstrap-select.js' %}"></script>
      <script src="{% static 'js/bootstrap-switch.js' %}"></script>
      <script src="{% static 'js/flatui-checkbox.js' %}"></script>
      <script src="{% static 'js/flatui-radio.js' %}"></script>
      <script src="{% static 'js/jquery.tagsinput.js' %}"></script>
      <script src="{% static 'js/jquery.placeholder.js' %}"></script>
      <script src="{% static 'select2/js/select2.js' %}"></script>

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>

      <script>
        $(document).ready(function() { 
          $("#id_skills_to_learn").select2(); 
          $("#id_skills_to_teach").select2();
        })

        // $(document).ready(function() { $("#bagel").select2({
        //     data:[{id:0,text:'enhancement'},{id:1,text:'bug'},{id:2,text:'duplicate'},{id:3,text:'invalid'},{id:4,text:'wontfix'}]
        // });
 
        // var data=[{id:0,tag:'enhancement'},{id:1,tag:'bug'},{id:2,tag:'duplicate'},{id:3,tag:'invalid'},{id:4,tag:'wontfix'}];
        // function format(item) { return item.tag; };
        // });
      </script>
    {% endblock javascript %}
  </body>
</html>
 
