{% extends "base.html" %}
{% load avatar_tags %}
{% load static postman_tags %}%}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-1">
      {% avatar user %}
    </div>

    <div class="col-sm-11">
      {% if object != request.user %}
      <div class="container pull-right">
        <a href="{% url 'postman_write' object.username %}" class="btn btn-large btn-success"><i class="icon-envelope-alt"></i>&nbsp;Contact this member</a>
      </div>
      {% endif %}
      <h3>{{ object.first_name }} {{ object.last_name }}</h3>
      <h4>({{ object.username }})</h4>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->     
<div class="row">

  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'users:update' %}">Update my profile</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
    <a class="btn btn-info" href="{% url 'avatar_change' %}">Avatar</a>
    <a class="btn btn-info" href="{% url 'socialaccount_connections' %}">Social Networks</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->

{% endif %}

<div class="row">
  <div class="col-sm-12">
  <p>{{ object.short_bio }}</p>
  {% if object.github_profile_url %}
  <p><i class="icon-github"></i>&nbsp;<a href="{{ object.github_profile_url }}">{{ object.github_profile_url }}</p>
  {% endif %}
  </div>
</div>
{% endblock content %}
