{% extends "base.html" %}
{% load avatar_tags %}
{% load static postman_tags %}%}

{% block title %}User: {{ object.username }}{% endblock %}
{% block body_class %}member-detail{% endblock %}

{% block body_content %}

{% block content %}
<div class="container">

{% block subnav %}
{% if object == request.user %}


{% include 'users/_dashboard_menu.html' %}

{% endif %}
{% endblock subnav %}

<div class="row wrapper content-wrapper">
  <div class="col-sm-3">
    <div class="profile-basics-box">
      <center>
        {% avatar object %}
        <h2 class="user-name">{{ object.first_name }} {{ object.last_name }}</h2>
        <ul class="user-attributes">
          <li><a href="{% url 'users:detail' object.username %}"><i class="icon-user"></i>&nbsp;{{ object.username }}</a></li>
          <li><i class="icon-map-marker"></i>&nbsp;{{ object.display_location }}</li>
          {% if object.github_profile_url %}
          <li><i class="icon-github"></i>&nbsp;<a href="{{ object.github_profile_url }}">{{ object.github_profile_url }}</a></li>
          {% endif %}

          {% if object == request.user %}
            <li><a href="#">Edit profile</a><li>
          {% endif %}
        </ul>
      </center>
    </div>
  </div>

  {% if object != request.user %}  {# Two seperate sections for logged in / logged out #}
    {% include 'includes/profile_detail_content.html' %}
  {% else %}
    {% include 'includes/profile_dashboard.html' %}
  {% endif %}
</div>
{% endblock content %}
{% endblock body_content %}
