{% extends "base.html" %}
{% load static i18n postman_tags avatar_tags %}
{% load crispy_forms_tags %}

{% block title %}Mentor UP Members{% endblock %}
{% block body_class %}members{% endblock %}

{% block content %}

<div class="container">
    
  <div class="row">
      <h2>Mentor UP Members</h2>
  </div>

  <div class="row form-row">
    {% crispy search_form %}
  </div>

    {% for user in user_list %}
    <div class="row">
      <a href="{% url 'users:detail' user.username %}">
        <div class="col-sm-1">
          <span class="avatar">{% avatar user %} </span>
        </div>

        <div class="col-sm-3 name">
          <span><h4>{{ user.first_name }} {{ user.last_name }}</h4></span><br>
          <span class="username">{{ user.username }}</span>
        </div>

        <div class="col-sm-5 list-bio">
          <span>{{ user.short_bio }}</span>
        </div>

        <div class="col-sm-1 col-md-offset-1">
          <a href="{% url 'postman_write' user.username %}" class="btn btn-large btn-success pull-right contact-me"><i class="icon-envelope-alt"></i>&nbsp;Contact me</a>
        </div>
      </a>

    </div>
    <hr>
    {% endfor %}

{% endblock content %}
