{% extends "base.html" %}
{% load avatar_tags %}
{% load static postman_tags %}%}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}

<div class="container">

{% if object == request.user %}
<!-- Action buttons -->     
<div class="row">

  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">View my profile</a></li>
      <li><a href="{% url 'users:update' %}">Update my profile</a></li>
      <li><a href="{% url 'account_email' %}">E-Mail</a></li>
      <li><a href="{% url 'postman_inbox' %}">My messages</a></li>
      <li><a href="{% url 'avatar_change' %}">Photo</a></li>
      <li><a href="{% url 'socialaccount_connections' %}">Social Networks</a></li>
    </ul>
  </div>

</div>
<!-- End Action buttons -->

{% endif %}

  <div class="row">
    <div class="col-sm-1">
      {% avatar user %}
    </div>

    <div class="col-sm-11">
      {% if object != request.user %}
      <div class="container pull-right">
        <a href="{% url 'postman_write' object.username %}" class="btn btn-large btn-success"><i class="icon-envelope-alt"></i>&nbsp;Contact this member</a>
      </div>
      {% endif %}
      <h2>{{ object.first_name }} {{ object.last_name }}</h2>
      <h3>({{ object.username }})</h3>
    </div>
  </div>

<div class="row">
  <div class="col-sm-12">
  <p>{{ object.short_bio }}</p>
  {% if object.github_profile_url %}
  <p><i class="icon-github"></i>&nbsp;<a href="{{ object.github_profile_url }}">{{ object.github_profile_url }}</a></p>
  {% endif %}
  {% if object.location %}
  <p><i class="icon-map-marker"></i>&nbsp;{{ object.display_location }}</p>
  </div>
  {% endif %}
  <h4>My skills</h4>
  <p>{{ object.display_skills_to_teach }}</p>

  <h4>What I want to learn</h4>
  <p>{{ object.display_skills_to_learn }}</p>

</div>

</div>
{% endblock content %}
