{% extends "base.html" %}
{% load static i18n postman_tags avatar_tags %}
{% load crispy_forms_tags %}

{% block title %}Mentor UP Members{% endblock %}
{% block body_class %}members{% endblock %}


{% block content %}

<div class="container">
    
  <div class="row">
      <h2>Mentor UP Members</h2>
  </div>

  <div class="search-form-wrapper">
    <div class="row form-row">
      {% crispy search_form %}
    </div>
  </div>

  <div class="user-list-wrapper">
    {% for user in user_list %}
    <div class="row">
        <div class="col-sm-1">
          <span class="avatar"><a href="{% url 'users:detail' user.username %}">{% avatar user %}</a> </span>
        </div>

        <div class="col-sm-3 name">
          <span><h4><a href="{% url 'users:detail' user.username %}">{{ user.first_name }} {{ user.last_name }}</a></h4></span>
          <ul class="user-attributes">
            <li><a href="{% url 'users:detail' user.username %}"><i class="icon-user"></i>&nbsp;{{ user.username }}</a></li>
            <li><i class="icon-map-marker"></i>&nbsp;{{ user.display_location }}</li>
          </ul>
        </div>

        <div class="col-sm-5">
            <!-- <p>{{ user.tagline }}</p> -->
            <h4>My skills</h4>
            <p>{{ user.display_skills_to_teach }}</p>

            <h4>What I want to learn</h4>
            <p>{{ user.display_skills_to_learn }}</p>
        </div>

        <div class="col-sm-1 col-md-offset-1">
          <a href="{% url 'postman_write' user.username %}" class="btn btn-large btn-success pull-right contact-me"><i class="icon-envelope-alt"></i>&nbsp;Contact me</a>
        </div>
      </a>

    </div>
    {% if not forloop.last %}
      <hr>
    {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock content %}

{% block in_page_javascript %}
  {% include 'includes/repopulate-select.html' %}
{% endblock %}
