{% extends "base.html" %}
{% load crispy_forms_tags django_select2_tags %}

{% block title %}Member: {{ user.username }}{% endblock %}

{% block extra_css %}
    {% import_django_select2_css %}
{% endblock %}

{% block content %}

{% block sub_nav %}
{% include 'users/_dashboard_menu.html' %}
{% endblock sub_nav %}

<div class="pull-right"><a href="{% url 'users:detail' request.user %}" class="btn btn-primary">Preview profile</a></div>

<div class="container">
    <div class="row wrapper content-wrapper">
    <h1>{% block header %}User: {{ user.username }}{% endblock %}</h1>
    <div class="row">
        <div class="col-lg-4">
            <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
                {% csrf_token %}
                {% crispy form %}
                <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="btn btn-large btn-success">Update</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock content %}
