{% extends "base.html" %}
{% block content %}
<h2>Mentor UP</h2>

<h3>What the deal with MentorUP.io?</h3>
<p>Mentor UP is a place for mentors and mentees to connect with each other based on desired skills to share, personal interests, and geographical location.  Right now, it's pretty bare bones, but we've got big dreams for functionality.  
</p>
<h3>Why?</h3>
<p>
  Our hope is that this can become a community driven web app and community that makes people better coders by facilitating new connections, supporting ongoing connections, and most importantly, make everyone remember how awesome is it to share what you know, and watch others do the same.  
</p>

<h3>Who?</h3>
<p>This is a 2013 <a href="http://djangodash.com">Django Dash</a> project, created with love, fist bumps, and a lot of OPC (Other People's Code) by <a href="http://twitter.com/@natea">@natea</a>, <a href="http:/twitter.com/@briandant">@briandant</a> and <a href="http://twitter.com/@chrisvans">@chrisvans</a>.</p>

<blockquote>Remember to mentor up (get a mentor) **and** mentor down (mentor somebody). If you've opened the terminal, you're probably less intimidated than somebody else.  Spread it!</blockquote>
{% endblock %}
