<script>
  $(document).ready(function() {

    var previouslySelectedSkills = {{ previously_selected_search_skills|safe }};
    console.log( previouslySelectedSkills );

    if ( $.isEmptyObject(previouslySelectedSkills) == false ) {
      var skills_input = $('#div_id_skills_to_search div.selectize-input.items');
      skills_input.find('input').remove();

      for ( skill in previouslySelectedSkills ) { 
        new_input = "<div data-value=" + skill + " class='item'>" + previouslySelectedSkills[skill] + "<//div>";
        skills_input.append(new_input)
        console.log(skill); 
        console.log( previouslySelectedSkills[skill] ); 
      };
    };
  })

</script>
